<footer class="footer px-4">
  <div>
    <a href="https://cida-doceria.com.br">
      Businness-Manager
    </a>
    &copy; <%= Time.zone.today.year %>. <%= "#{t('backoffice.version')} #{Rails.configuration.x.application.version}" %>
  </div>
  <div class="ms-auto">
    Powered by&nbsp;
    Guilherme Caixeta.
  </div>
</footer>
