<div class="clearfix">
  <h1 class="float-center display-3">
    <%= status_code %>
  </h1>
  <h4 class="pt-3">
    <%= title %>
  </h4>
  <p class="text-body-secondary">
    <%= message %>
  </p>
</div>
